*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg: #000000;
  --bg-input: #06181C;
  --bg-input-holder: #ffffff;
  --bg-button-favorite: #065E7C;
  --bg-card: hsla(195, 61%, 6%, 0.5);
  --scroll: #4A808C;
  --bg-card-even: hsla(192, 65%, 7%, 1);
  --tt-input: #7C7C8A;
  --tt-main: #E1E1E6;
  --tt-empaty: #4E5455;
  --tt-button-remove: #F75A68;
  --bg-th-colum: #092D38;
  --bg-tb-row: #06181C;
  --border-color: #4A808C;
  --white: #ffffff;
  --empty-font: 'Roboto Mono', monospace;
  --main-font: 'Roboto', sans-serif;
}

body *{
  font-family: var(--main-font);
  font-size: 2rem;
  font-weight: 700;
}

body {
  color: var(--tt-main);
  background-color: var(--bg);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  max-width: 112rem;
  margin: 0 auto;
  padding:  2rem;
}

.noFavorites {
  display: flex;
  margin: 21rem 0;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  border: 1px solid var(--border-color);
  height: 68.8rem;
  margin: 0;
  padding: 0;
  border-top: none;
  border-radius: 0 0 1.2rem 1.2rem;
}

.hide {
  display: none;
}

.noFavorites h2 {
  font-size: 4rem;
  color: var(--tt-empaty);
  font-family: var(--empty-font);
  line-height: 2.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 11.5rem 0 8.7rem 0;
}

.header input {
  width: 46rem;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.6rem;
  border-radius: .5rem;
  color: var(--tt-input);
  background-color: var(--bg-input);
  border: none;
}

.header {
  display: flex;
  align-items: center;
  gap: .6rem;
  justify-content: space-between;
}

.header button {
  border: none;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  padding: 1.6rem 3.2rem;
  background-color: var(--bg-button-favorite);
  color: var(--white);
  text-transform: uppercase;
  gap: .8rem;
}


table {
  border-collapse: collapse;
  align-items: left;
  border-radius: 1.2rem;
  overflow: hidden;
  display: inline-block;
  border: 1px solid var(--border-color);
  
}

table * {
  font-size: 2rem;
  font-weight: 700;
  color: var(--tt-main);
  width: 100%;
}

table th{
  background-color: var(--bg-th-colum);
  padding: 1.6rem 4rem;
  text-align: left;
}


table tr:nth-child(even) {
  background-color: var(--bg-card-even);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

table td {
  padding: 2.4rem 4rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  /* border-left: 1px solid var(--border-color); */
}

td.user img {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  object-fit: cover;
}

td.user a {
  text-decoration: none;
  cursor: pointer;
}

td.user a p {
  margin-bottom: .8rem;
}

td.user a span {
  font-weight: 400;
}

.remove {
  border: none;
  background: none;
  color: var(--tt-button-remove);
  cursor: pointer;
  
}